/* Add your CSS code below */
.link--map {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.message__time {
  font: size 0.9em;
}
.message--unread {
  border-left: blue 10px solid;
}
.message__time--old {
  opacity: 0.6;
}
messages {
  line-height: 2em;
}
